:root{
    --text-white: white;
    --text-black: black;

    --text-link: rgb(60, 138, 240);

    --background-color: rgba(245, 245, 245, 0.97);
    --foreground-color: whitesmoke;

    --divider-color: rgb(185, 185, 185);
}

body{
    position: absolute;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    color: var(--text-black);
    background-color: var(--foreground-color);

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--divider-color);
    background-color: var(--background-color);
}

footer {
    position: inherit;
    bottom: 0;
    height: 5em;
    line-height: 5em;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--divider-color);
}

header > a {
    padding: 1rem;
    color: var(--text-black);
}

header > a:hover {
    text-decoration: none;
    color: var(--text-link);
}

.content {
    padding-top: 5rem;
    padding-bottom: 8rem;
    max-width: 1000px;
    margin: auto;
}

.about {
    display: inline-block;
}

.img-portrait {
    float: left;
    width: 20%;
    min-width: 300px;
    max-width: 100vw;
    padding: 1em;
    padding-left: 0;
}

.events {
    height: 700px;
    width: 100%;
    display: block;
}

td {
    vertical-align: top;
    text-align: left;
    padding: .6rem;
    padding-left: 1.2rem;
}